[Unit]
Description=strmiddleware monitor
After=local-fs.target network.target srtproxy.service
Requires=srtproxy.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/srtmiddleware monitor --wsaddr="" --wspsas=""

[Install]
WantedBy=multi-user.target